<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Block access to XML files." stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="\.xml$" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
                <rule name="Redirect to HTTPS" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="GetSimple Blog (Plugin)" enabled="true" stopProcessing="true">
                    <match url="(^feed)/([|^post|^tag|^page|^archive|^category]+)/([^/.]+)/?$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?id={R:1}&amp;{R:2}={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Pretty URLs" enabled="true" stopProcessing="true">
                    <match url="([^/.]+)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?id={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
